<div class="post-upvote" style="display: flex; flex-direction: column; align-items: center; margin: 2.5rem 0 1.5rem;">
  <applause-button style="width: 58px; height: 58px;" multiclap="true"></applause-button>
</div>
<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
