.tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  padding: 0;
  list-style: none;
  position: relative;
}

.tab > * {
  flex: none;
  padding-left: 20px;
  position: relative;
}

.tab > * > a {
  display: block;
  text-align: center;
  padding: 9px 20px;
  color: var(--global-text-color-light);
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  line-height: 20px;
}

.tab > .active > a {
  color: #fff;
  background-color: var(--global-theme-color);
  border-color: var(--global-theme-color);
}

.tab > li > a {
  text-decoration: none;
  cursor: pointer;
}

.tab-content {
  padding: 0;
}

.tab-content > li {
  display: none;
}
.tab-content > li.active {
  display: block;
}
