{% assign repo_url = include.repository | split: '/' %}
{% assign owner = repo_url[0] %}
{% assign repo_name = repo_url[1] %}

<div class="repo p-2 w-100">
  <a class="text-decoration-none text-reset" href="https://github.com/{{ include.repository }}">
    <div class="card h-100">
      <div class="card-body text-start">
        <h5 class="card-title mb-1">
          <i class="fa-brands fa-github me-2" aria-hidden="true"></i>{{ repo_name }}
        </h5>
        <p class="card-text text-muted mb-3">{{ owner }}/{{ repo_name }}</p>
        <span class="badge rounded-pill bg-secondary">Open repository</span>
      </div>
    </div>
  </a>
</div>
