<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in data[1] %}
  <li class="list-group-item">
    <div class="row">
      <div class="col mt-2 mt-md-0">
        <h6 class="title font-weight-bold">{% if content.url and content.url != "" %}<a href="{{ content.url }}">{{content.name}}</a>{% else %}{{content.name}}{% endif %}</h6>
        {% if content.summary and content.summary != "" %}
        <h6><em>{{content.summary}}</em></h6>
        {% endif %}
        {% if content.highlights.size > 0 %}
        <ul class="items">
          {% for item in content.highlights %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
